


</div>
 <!-- /.conainter --> 
 <div>
    <hr class="theHr">
    <p class="copyright"><span class="whiteActual">Copyright 2018 Patrick Erath. Patent Pending.</span> <strong><a href="/about" class="whiteActual">More about me <i class="fas fa-mouse-pointer"></i></a></strong></p>
 </div>
 <!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
    
</html>