<% include ./partials/header %>

<h1 class="copyright">Patrick Erath</h1>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="https://i.imgur.com/sRPbD8n.jpg">
      <div class="caption-full">
        <h4 class="class">More About Me: </h4>
        <p>
        Originally German, I was raised in Paris where I attended the American University of Paris. Upon graduating from high school, I moved to Montreal where I am currently studying Electrical Engineering at McGill University. This website was a project 
        I undertook at the completion of an online coding class “The Web Developpers Bootcamp” by Colt Steele. I am planning on taking multiple other classes to further improve this website, as well as making a mobile application to pair with it. 
        </p>
        
        <p>
        As of now, this website uses HTML5, CSS3, JavaScript, Bootstrap and jQuery on the front-end. On the back-end, it uses NodeJS, NPM, ExpressJS, REST, 
        Authorization/Authentication and PassportJS. In order to store data non-sequential Mongo DB was used. The application is currently hosted on Heroku servers with the help of MongoLab.
        </p>
        
        <p>
        For any comments or questions, feel free to <a href="mailto:patrick.erath@mail.mcgill.ca">email me!</a>
        </p>
       
          
      </div>
    </div>


<% include ./partials/footer %>